Repository mandiant/VM-Packages, pull requests merged in 2023-05, with the labels that each got.

#273 Add AzureHound
  packages/azurehound.vm/azurehound.vm.nuspec
  packages/azurehound.vm/tools/chocolateyinstall.ps1
  packages/azurehound.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#329 Fix bug that breaks daily
  scripts/test/test_install.ps1
Labels: :bug: bug, :runner: CI

#334 :robot: Add pesieve.vm
  packages/pesieve.vm/pesieve.vm.nuspec
  packages/pesieve.vm/tools/chocolateyinstall.ps1
  packages/pesieve.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#338 Improve Python dependencies
  packages/libraries.python3.vm/libraries.python3.vm.nuspec
  packages/libraries.python3.vm/tools/chocolateyinstall.ps1
  packages/libraries.python3.vm/tools/modules.xml
Labels: :gem: enhancement

#351 Improve/fix right click menu
  packages/common.vm/common.vm.nuspec
  packages/common.vm/tools/vm.common/vm.common.psm1
  packages/die.vm/die.vm.nuspec
  packages/die.vm/tools/chocolateyinstall.ps1
  packages/explorersuite.vm/explorersuite.vm.nuspec
  packages/explorersuite.vm/tools/chocolateyinstall.ps1
  packages/explorersuite.vm/tools/chocolateyuninstall.ps1
  packages/hashmyfiles.vm/hashmyfiles.vm.nuspec
  packages/hashmyfiles.vm/tools/chocolateyinstall.ps1
  packages/hxd.vm/hxd.vm.nuspec
  packages/hxd.vm/tools/chocolateyinstall.ps1
  packages/hxd.vm/tools/chocolateyuninstall.ps1
Labels: :bug: bug, :gem: enhancement

#355 visualstudio.vm: Add Visual Studio Community 2022
  packages/visualstudio.vm/tools/chocolateyinstall.ps1
  packages/visualstudio.vm/tools/chocolateyuninstall.ps1
  packages/visualstudio.vm/visualstudio.nuspec
Labels: :new: package

#356 windbg.vm: Add WinDbg
  packages/windbg.vm/tools/chocolateyinstall.ps1
  packages/windbg.vm/tools/chocolateyuninstall.ps1
  packages/windbg.vm/windbg.vm.nuspec
Labels: :new: package

#353 Ensure template follows version documentation
  scripts/utils/create_package_template.py
Labels: :bug: bug

#365 :robot: Add codetrack.vm
  packages/codetrack.vm/codetrack.vm.nuspec
  packages/codetrack.vm/tools/chocolateyinstall.ps1
  packages/codetrack.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#369 Fix several shortcuts & Unify how shortcuts are created
  packages/common.vm/common.vm.nuspec
  packages/common.vm/tools/vm.common/vm.common.psm1
  packages/de4dot-cex.vm/de4dot-cex.vm.nuspec
  packages/de4dot-cex.vm/tools/chocolateyinstall.ps1
  packages/de4dot-cex.vm/tools/chocolateyuninstall.ps1
  packages/dnspyex.vm/dnspyex.vm.nuspec
  packages/dnspyex.vm/tools/chocolateyinstall.ps1
  packages/rundotnetdll.vm/rundotnetdll.vm.nuspec
  packages/rundotnetdll.vm/tools/chocolateyinstall.ps1
Labels: :bug: bug, :gem: enhancement

#278 Add ADConnectDump
  packages/adconnectdump.vm/adconnectdump.vm.nuspec
  packages/adconnectdump.vm/tools/chocolateyinstall.ps1
  packages/adconnectdump.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#373 Fixed linter regex
  scripts/test/lint.py
Labels: :bug: bug
