Repository mandiant/VM-Packages, pull requests merged in 2023-12, with the labels that each got.

#752 Delete flarevm.installer.vm
  packages/flarevm.installer.vm/flarevm.installer.vm.nuspec
  packages/flarevm.installer.vm/tools/chocolateyinstall.ps1
Labels: :cyclone: FLARE-VM

#764 Refactor 010editor
  packages/010editor.vm/010editor.vm.nuspec
  packages/010editor.vm/tools/chocolateyinstall.ps1
Labels: :cyclone: FLARE-VM, :cyclone: COMMANDO-VM

#765 Support innerFolder in create_package_template
  scripts/utils/create_package_template.py
Labels: :runner: CI

#762 Remove default --help args
  packages/capa.vm/capa.vm.nuspec
  packages/capa.vm/tools/chocolateyinstall.ps1
  packages/common.vm/common.vm.nuspec
  packages/common.vm/tools/vm.common/vm.common.psm1
  packages/didier-stevens-suite.vm/didier-stevens-suite.vm.nuspec
  packages/didier-stevens-suite.vm/tools/chocolateyinstall.ps1
  packages/dnspyex.vm/dnspyex.vm.nuspec
  packages/dnspyex.vm/tools/chocolateyinstall.ps1
  packages/floss.vm/floss.vm.nuspec
  packages/floss.vm/tools/chocolateyinstall.ps1
  packages/goresym.vm/goresym.vm.nuspec
  packages/goresym.vm/tools/chocolateyinstall.ps1
  packages/ifpstools.vm/ifpstools.vm.nuspec
  packages/ifpstools.vm/tools/chocolateyinstall.ps1
  packages/innoextract.vm/innoextract.vm.nuspec
  packages/innoextract.vm/tools/chocolateyinstall.ps1
  packages/inveigh.vm/inveigh.vm.nuspec
  packages/inveigh.vm/tools/chocolateyinstall.ps1
  packages/rundotnetdll.vm/rundotnetdll.vm.nuspec
  packages/rundotnetdll.vm/tools/chocolateyinstall.ps1
  packages/sliver.vm/sliver.vm.nuspec
  packages/sliver.vm/tools/chocolateyinstall.ps1
Labels: :cyclone: FLARE-VM, :cyclone: COMMANDO-VM

#768 Add ALEAPP
  packages/aleapp.vm/aleapp.vm.nuspec
  packages/aleapp.vm/tools/chocolateyinstall.ps1
  packages/aleapp.vm/tools/chocolateyuninstall.ps1
Labels: :new: package, :cyclone: COMMANDO-VM

#772 Add hayabusa
  packages/hayabusa.vm/hayabusa.vm.nuspec
  packages/hayabusa.vm/tools/chocolateyinstall.ps1
  packages/hayabusa.vm/tools/chocolateyuninstall.ps1
Labels: :new: package, :cyclone: COMMANDO-VM

#774 Add Kernel Outlook PST Viewer
  packages/kernel-outlook-pst-viewer.vm/kernel-outlook-pst-viewer.vm.nuspec
  packages/kernel-outlook-pst-viewer.vm/tools/chocolateyinstall.ps1
  packages/kernel-outlook-pst-viewer.vm/tools/chocolateyuninstall.ps1
Labels: :new: package, :cyclone: COMMANDO-VM

#767 Add systeminformer.vm
  packages/systeminformer.vm/systeminformer.vm.nuspec
  packages/systeminformer.vm/tools/chocolateyinstall.ps1
  packages/systeminformer.vm/tools/chocolateyuninstall.ps1
Labels: :new: package, :cyclone: FLARE-VM, :cyclone: COMMANDO-VM

#792 installer: Run Admin Command Prompt in the Desktop
  packages/installer.vm/installer.vm.nuspec
  packages/installer.vm/tools/chocolateyinstall.ps1
Labels: :gem: enhancement, :cyclone: FLARE-VM

#793 didier-stevens-suite.vm: Add tools to path
  packages/didier-stevens-suite.vm/didier-stevens-suite.vm.nuspec
  packages/didier-stevens-suite.vm/tools/chocolateyinstall.ps1
Labels: :bug: bug, :cyclone: FLARE-VM

#799 Add JSTool and XMLTools plugins for Notepad++
  packages/notepadpp.plugin.jstool.vm/notepadpp.plugin.jstool.vm.nuspec
  packages/notepadpp.plugin.jstool.vm/tools/chocolateyinstall.ps1
  packages/notepadpp.plugin.jstool.vm/tools/chocolateyuninstall.ps1
  packages/notepadpp.plugin.xmltools.vm/notepadpp.plugin.xmltools.vm.nuspec
  packages/notepadpp.plugin.xmltools.vm/tools/chocolateyinstall.ps1
  packages/notepadpp.plugin.xmltools.vm/tools/chocolateyuninstall.ps1
Labels: :new: package, :cyclone: FLARE-VM

#798 Add metapackage for vcredist140 dependency
  packages/nmap.vm/nmap.vm.nuspec
  packages/rpcview.vm/rpcview.vm.nuspec
  packages/vcredist140.vm/vcredist140.vm.nuspec
Labels: :gem: enhancement

#802 Add the PDFStreamDumper package
  packages/pdfstreamdumper.vm/pdfstreamdumper.vm.nuspec
  packages/pdfstreamdumper.vm/tools/chocolateyinstall.ps1
  packages/pdfstreamdumper.vm/tools/chocolateyuninstall.ps1
Labels: :new: package, :cyclone: FLARE-VM

#796 Enable openning cmd from context menu
  packages/debloat.vm/debloat.vm.nuspec
  packages/debloat.vm/tools/win10.xml
Labels: :gem: enhancement

#766 Add LogFileParser
  packages/logfileparser.vm/logfileparser.vm.nuspec
  packages/logfileparser.vm/tools/chocolateyinstall.ps1
  packages/logfileparser.vm/tools/chocolateyuninstall.ps1
Labels: :new: package, :cyclone: COMMANDO-VM

#769 Add chainsaw
  packages/chainsaw.vm/chainsaw.vm.nuspec
  packages/chainsaw.vm/tools/chocolateyinstall.ps1
  packages/chainsaw.vm/tools/chocolateyuninstall.ps1
Labels: :new: package, :cyclone: COMMANDO-VM

#773 Add Kernel OST Viewer
  packages/kernel-ost-viewer.vm/kernel-ost-viewer.vm.nuspec
  packages/kernel-ost-viewer.vm/tools/chocolateyinstall.ps1
  packages/kernel-ost-viewer.vm/tools/chocolateyuninstall.ps1
Labels: :new: package, :cyclone: COMMANDO-VM

#775 Add TestDisk tools
  packages/testdisk.vm/testdisk.vm.nuspec
  packages/testdisk.vm/tools/chocolateyinstall.ps1
  packages/testdisk.vm/tools/chocolateyuninstall.ps1
Labels: :new: package, :cyclone: COMMANDO-VM

#782 Add autopsy
  packages/autopsy.vm/autopsy.vm.nuspec
  packages/autopsy.vm/tools/chocolateyinstall.ps1
  packages/autopsy.vm/tools/chocolateyuninstall.ps1
Labels: :new: package, :cyclone: COMMANDO-VM

#805 Add the OffVis tool package
  packages/offvis.vm/offvis.vm.nuspec
  packages/offvis.vm/tools/chocolateyinstall.ps1
  packages/offvis.vm/tools/chocolateyuninstall.ps1
Labels: :new: package, :cyclone: FLARE-VM

#808 Add OneNoteAnalyzer and OneDump tools packages
  packages/didier-stevens-beta.vm/didier-stevens-beta.vm.nuspec
  packages/didier-stevens-beta.vm/tools/chocolateyinstall.ps1
  packages/didier-stevens-beta.vm/tools/chocolateyuninstall.ps1
  packages/onenoteanalyzer.vm/onenoteanalyzer.vm.nuspec
  packages/onenoteanalyzer.vm/tools/chocolateyinstall.ps1
  packages/onenoteanalyzer.vm/tools/chocolateyuninstall.ps1
Labels: :new: package, :cyclone: FLARE-VM

#806 Add 'VM-Add-To-Path' function to common.vm
  packages/common.vm/common.vm.nuspec
  packages/common.vm/tools/vm.common/vm.common.psm1
Labels: :gem: enhancement

#783 Add Arsenal Image Mounter
  packages/arsenalimagemounter.vm/arsenalimagemounter.vm.nuspec
  packages/arsenalimagemounter.vm/tools/chocolateyinstall.ps1
  packages/arsenalimagemounter.vm/tools/chocolateyuninstall.ps1
Labels: :new: package, :cyclone: COMMANDO-VM

#777 Add DB Browser for SQLite
  packages/sqlitebrowser.vm/sqlitebrowser.vm.nuspec
  packages/sqlitebrowser.vm/tools/chocolateyinstall.ps1
  packages/sqlitebrowser.vm/tools/chocolateyuninstall.ps1
Labels: :new: package, :cyclone: COMMANDO-VM

#771 Add FTK Imager
  packages/ftk-imager.vm/ftk-imager.vm.nuspec
  packages/ftk-imager.vm/tools/chocolateyinstall.ps1
  packages/ftk-imager.vm/tools/chocolateyuninstall.ps1
Labels: :new: package, :cyclone: COMMANDO-VM

#781 Add dcode
  packages/dcode.vm/dcode.vm.nuspec
  packages/dcode.vm/tools/chocolateyinstall.ps1
  packages/dcode.vm/tools/chocolateyuninstall.ps1
Labels: :new: package, :cyclone: COMMANDO-VM

#770 Add Event Log Explorer
  packages/event-log-explorer.vm/event-log-explorer.vm.nuspec
  packages/event-log-explorer.vm/tools/chocolateyinstall.ps1
  packages/event-log-explorer.vm/tools/chocolateyuninstall.ps1
Labels: :new: package, :cyclone: COMMANDO-VM
