Repository mandiant/VM-Packages, pull requests merged in 2023-07, with the labels that each got.

#471 Use new pestudio URL & update automatically version URLs
  .github/workflows/update_package.yml
  packages/pestudio.vm/pestudio.vm.nuspec
  packages/pestudio.vm/tools/chocolateyinstall.ps1
  scripts/utils/update_package.py
Labels: :gem: enhancement, :runner: CI

#474 Remove python3.vm (Previous PR deleted by accident)
  packages/python3.vm/python3.vm.nuspec
Labels: :grey_question: discussion

#475 Remove libraries.python2.vm (Previous PR deleted by accident)
  packages/libraries.python2.vm/libraries.python2.vm.nuspec
  packages/libraries.python2.vm/tools/chocolateyinstall.ps1
  packages/libraries.python2.vm/tools/chocolateyuninstall.ps1
  packages/libraries.python2.vm/tools/modules.xml
Labels: :grey_question: discussion

#477 visualstudio: Correct nuspec name
  packages/visualstudio.vm/visualstudio.vm.nuspec
Labels: :bug: bug

#479 update_package: Add GH tag archives
  scripts/utils/update_package.py
Labels: :gem: enhancement, :runner: CI

#462 :robot: Add seclists.vm
  packages/seclists.vm/seclists.vm.nuspec
  packages/seclists.vm/tools/chocolateyinstall.ps1
  packages/seclists.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#461 :robot: Add juicy-potato.vm
  packages/juicypotato.vm/juicypotato.vm.nuspec
  packages/juicypotato.vm/tools/chocolateyinstall.ps1
  packages/juicypotato.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#517 :robot: Add rubeus.vm
  packages/rubeus.vm/rubeus.vm.nuspec
  packages/rubeus.vm/tools/chocolateyinstall.ps1
  packages/rubeus.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#509 :robot: Add dumpert.vm
  packages/dumpert.vm/dumpert.vm.nuspec
  packages/dumpert.vm/tools/chocolateyinstall.ps1
  packages/dumpert.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#519 :robot: Add burp-free.vm
  packages/burp-free.vm/burp-free.vm.nuspec
  packages/burp-free.vm/tools/chocolateyinstall.ps1
  packages/burp-free.vm/tools/chocolateyuninstall.ps1
  success_failure.json
Labels: :new: package

#520 Missing Shortcut Working Directory Change
  packages/common.vm/common.vm.nuspec
  packages/common.vm/tools/vm.common/vm.common.psm1
Labels: :bug: bug

#447 :robot: Add gowitness.vm
  packages/gowitness.vm/gowitness.vm.nuspec
  packages/gowitness.vm/tools/chocolateyinstall.ps1
  packages/gowitness.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#499 :robot: Add snaffler.vm
  packages/snaffler.vm/snaffler.vm.nuspec
  packages/snaffler.vm/tools/chocolateyinstall.ps1
  packages/snaffler.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#486 :robot: Add powerupsql.vm
  packages/powerupsql.vm/powerupsql.vm.nuspec
  packages/powerupsql.vm/tools/chocolateyinstall.ps1
  packages/powerupsql.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#548 :robot: Add syswhispers2.vm
  packages/syswhispers2.vm/syswhispers2.vm.nuspec
  packages/syswhispers2.vm/tools/chocolateyinstall.ps1
  packages/syswhispers2.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#524 :robot: Add kerbrute.vm
  packages/kerbrute.vm/kerbrute.vm.nuspec
  packages/kerbrute.vm/tools/chocolateyinstall.ps1
  packages/kerbrute.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#553 :robot: Add credninja.vm
  packages/credninja.vm/credninja.vm.nuspec
  packages/credninja.vm/tools/chocolateyinstall.ps1
  packages/credninja.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#484 :robot: Add invokeobfuscation.vm
  packages/invokeobfuscation.vm/invokeobfuscation.vm.nuspec
  packages/invokeobfuscation.vm/tools/chocolateyinstall.ps1
  packages/invokeobfuscation.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#488 :robot: Add powercat.vm
  packages/powercat.vm/powercat.vm.nuspec
  packages/powercat.vm/tools/chocolateyinstall.ps1
  packages/powercat.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#490 :robot: Add invokedosfuscation.vm
  packages/invokedosfuscation.vm/invokedosfuscation.vm.nuspec
  packages/invokedosfuscation.vm/tools/chocolateyinstall.ps1
  packages/invokedosfuscation.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#495 :robot: Add adconnectdump.vm
  packages/adconnectdump.vm/adconnectdump.vm.nuspec
  packages/adconnectdump.vm/tools/chocolateyinstall.ps1
  packages/adconnectdump.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#543 :robot: Add powersploit.vm
  packages/powersploit.vm/powersploit.vm.nuspec
  packages/powersploit.vm/tools/chocolateyinstall.ps1
  packages/powersploit.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#562 :robot: Add tor-browser.vm
  packages/tor-browser.vm/tools/chocolateyinstall.ps1
  packages/tor-browser.vm/tools/chocolateyuninstall.ps1
  packages/tor-browser.vm/tor-browser.vm.nuspec
Labels: :new: package

#493 :robot: Add mfasweep.vm
  packages/mfasweep.vm/mfasweep.vm.nuspec
  packages/mfasweep.vm/tools/chocolateyinstall.ps1
  packages/mfasweep.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#503 :robot: Add minidump.vm
  packages/minidump.vm/minidump.vm.nuspec
  packages/minidump.vm/tools/chocolateyinstall.ps1
  packages/minidump.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#505 :robot: Add sharpsecdump.vm
  packages/sharpsecdump.vm/sharpsecdump.vm.nuspec
  packages/sharpsecdump.vm/tools/chocolateyinstall.ps1
  packages/sharpsecdump.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#507 :robot: Add group3r.vm
  packages/group3r.vm/group3r.vm.nuspec
  packages/group3r.vm/tools/chocolateyinstall.ps1
  packages/group3r.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#511 :robot: Add powermad.vm
  packages/powermad.vm/powermad.vm.nuspec
  packages/powermad.vm/tools/chocolateyinstall.ps1
  packages/powermad.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#513 :robot: Add ldapnomnom.vm
  packages/ldapnomnom.vm/ldapnomnom.vm.nuspec
  packages/ldapnomnom.vm/tools/chocolateyinstall.ps1
  packages/ldapnomnom.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#522 :robot: Add payloadallthethings.vm
  packages/payloadsallthethings.vm/payloadsallthethings.vm.nuspec
  packages/payloadsallthethings.vm/tools/chocolateyinstall.ps1
  packages/payloadsallthethings.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#526 :robot: Add fuzzdb.vm
  packages/fuzzdb.vm/fuzzdb.vm.nuspec
  packages/fuzzdb.vm/tools/chocolateyinstall.ps1
  packages/fuzzdb.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#528 :robot: Add statistically-likely-usernames.vm
  packages/statistically-likely-usernames.vm/statistically-likely-usernames.vm.nuspec
  packages/statistically-likely-usernames.vm/tools/chocolateyinstall.ps1
  packages/statistically-likely-usernames.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#532 :robot: Add c3.vm
  packages/c3.vm/c3.vm.nuspec
  packages/c3.vm/tools/chocolateyinstall.ps1
  packages/c3.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#536 :robot: Add badassmacros.vm
  packages/badassmacros.vm/badassmacros.vm.nuspec
  packages/badassmacros.vm/tools/chocolateyinstall.ps1
  packages/badassmacros.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#538 :robot: Add evilclippy.vm
  packages/evilclippy.vm/evilclippy.vm.nuspec
  packages/evilclippy.vm/tools/chocolateyinstall.ps1
  packages/evilclippy.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#540 :robot: Add sharplaps.vm
  packages/sharplaps.vm/sharplaps.vm.nuspec
  packages/sharplaps.vm/tools/chocolateyinstall.ps1
  packages/sharplaps.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#547 :robot: Add mailsniper.vm
  packages/mailsniper.vm/mailsniper.vm.nuspec
  packages/mailsniper.vm/tools/chocolateyinstall.ps1
  packages/mailsniper.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#555 :robot: Add keethief.vm
  packages/keethief.vm/keethief.vm.nuspec
  packages/keethief.vm/tools/chocolateyinstall.ps1
  packages/keethief.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#560 :robot: Add netgpppassword.vm
  packages/netgpppassword.vm/netgpppassword.vm.nuspec
  packages/netgpppassword.vm/tools/chocolateyinstall.ps1
  packages/netgpppassword.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#570 :robot: Add syswhispers3.vm
  packages/syswhispers3.vm/syswhispers3.vm.nuspec
  packages/syswhispers3.vm/tools/chocolateyinstall.ps1
  packages/syswhispers3.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#576 :robot: Add sharpexec.vm
  packages/sharpexec.vm/sharpexec.vm.nuspec
  packages/sharpexec.vm/tools/chocolateyinstall.ps1
  packages/sharpexec.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#574 :robot: Add wmimplant.vm
  packages/wmimplant.vm/tools/chocolateyinstall.ps1
  packages/wmimplant.vm/tools/chocolateyuninstall.ps1
  packages/wmimplant.vm/wmimplant.vm.nuspec
Labels: :new: package

#256 Adding Mimikatz
  packages/mimikatz.vm/mimikatz.vm.nuspec
  packages/mimikatz.vm/tools/chocolateyinstall.ps1
  packages/mimikatz.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#579 :robot: Add safetykatz.vm
  packages/safetykatz.vm/safetykatz.vm.nuspec
  packages/safetykatz.vm/tools/chocolateyinstall.ps1
  packages/safetykatz.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#580 :robot: Add sharpcliphistory.vm
  packages/sharpcliphistory.vm/sharpcliphistory.vm.nuspec
  packages/sharpcliphistory.vm/tools/chocolateyinstall.ps1
  packages/sharpcliphistory.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#581 Added metasploit
  packages/metasploit.vm/metasploit.vm.nuspec
  packages/metasploit.vm/tools/chocolateyinstall.ps1
  packages/metasploit.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#501 :robot: Add inveigh.vm
  packages/inveigh.vm/inveigh.vm.nuspec
  packages/inveigh.vm/tools/chocolateyinstall.ps1
  packages/inveigh.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#551 :robot: Add merlin.vm
  packages/merlin.vm/merlin.vm.nuspec
  packages/merlin.vm/tools/chocolateyinstall.ps1
  packages/merlin.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#557 :robot: Add getlapspasswords.vm
  packages/getlapspasswords.vm/getlapspasswords.vm.nuspec
  packages/getlapspasswords.vm/tools/chocolateyinstall.ps1
  packages/getlapspasswords.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#568 :robot: Add resourcehacker.vm
  packages/resourcehacker.vm/resourcehacker.vm.nuspec
  packages/resourcehacker.vm/tools/chocolateyinstall.ps1
  packages/resourcehacker.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#564 :robot: Add winscp.vm
  packages/winscp.vm/tools/chocolateyinstall.ps1
  packages/winscp.vm/tools/chocolateyuninstall.ps1
  packages/winscp.vm/winscp.vm.nuspec
Labels: :new: package

#583 :robot: Add openvpn.vm
  packages/openvpn.vm/openvpn.vm.nuspec
  packages/openvpn.vm/tools/chocolateyinstall.ps1
  packages/openvpn.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#588 :robot: Add sqlitebrowser.vm
  packages/sqlitebrowser.vm/sqlitebrowser.vm.nuspec
  packages/sqlitebrowser.vm/tools/chocolateyinstall.ps1
  packages/sqlitebrowser.vm/tools/chocolateyuninstall.ps1
  success_failure.json
Labels: :new: package

#591 Whisker and RouteSixtySink Category Change
  packages/routesixtysink.vm/routesixtysink.vm.nuspec
  packages/routesixtysink.vm/tools/chocolateyinstall.ps1
  packages/routesixtysink.vm/tools/chocolateyuninstall.ps1
  packages/whisker.vm/tools/chocolateyinstall.ps1
  packages/whisker.vm/tools/chocolateyuninstall.ps1
  packages/whisker.vm/whisker.vm.nuspec
Labels: :bug: bug, :gem: enhancement

#594 Standardize PowerShell Shortcuts
  packages/common.vm/common.vm.nuspec
  packages/common.vm/tools/vm.common/vm.common.psm1
Labels: :bug: bug
