Repository mandiant/VM-Packages, pull requests merged in 2023-06, with the labels that each got.

#375 :robot: Add unhook-bof.vm
  packages/unhook-bof.vm/tools/chocolateyinstall.ps1
  packages/unhook-bof.vm/tools/chocolateyuninstall.ps1
  packages/unhook-bof.vm/unhook-bof.vm.nuspec
Labels: :new: package

#377 :robot: Add stracciatella.vm
  packages/stracciatella.vm/stracciatella.vm.nuspec
  packages/stracciatella.vm/tools/chocolateyinstall.ps1
  packages/stracciatella.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#381 :robot: Add remote-ops-bof.vm
  packages/trustedsec-remote-ops-bof.vm/tools/chocolateyinstall.ps1
  packages/trustedsec-remote-ops-bof.vm/tools/chocolateyuninstall.ps1
  packages/trustedsec-remote-ops-bof.vm/trustedsec-remote-ops-bof.vm.nuspec
Labels: :new: package

#386 :robot: Add certify.vm
  packages/certify.vm/certify.vm.nuspec
  packages/certify.vm/tools/chocolateyinstall.ps1
  packages/certify.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#390 :robot: Add streamdivert.vm
  packages/streamdivert.vm/streamdivert.vm.nuspec
  packages/streamdivert.vm/tools/chocolateyinstall.ps1
  packages/streamdivert.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#392 :robot: Add whisker.vm
  packages/whisker.vm/tools/chocolateyinstall.ps1
  packages/whisker.vm/tools/chocolateyuninstall.ps1
  packages/whisker.vm/whisker.vm.nuspec
Labels: :new: package

#394 :robot: Add confuserex.vm
  packages/confuserex.vm/confuserex.vm.nuspec
  packages/confuserex.vm/tools/chocolateyinstall.ps1
  packages/confuserex.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#379 :robot: Add nanodump.vm
  packages/nanodump.vm/nanodump.vm.nuspec
  packages/nanodump.vm/tools/chocolateyinstall.ps1
  packages/nanodump.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#383 :robot: Add outflank-c2-collection.vm
  packages/outflank-c2-tool-collection.vm/outflank-c2-tool-collection.vm.nuspec
  packages/outflank-c2-tool-collection.vm/tools/chocolateyinstall.ps1
  packages/outflank-c2-tool-collection.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#372 :robot: Add situational-awareness-bofs.vm
  packages/situational-awareness-bof.vm/situational-awareness-bof.vm.nuspec
  packages/situational-awareness-bof.vm/tools/chocolateyinstall.ps1
  packages/situational-awareness-bof.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#396 :robot: Add dotnettojscript.vm
  packages/dotnettojscript.vm/dotnettojscript.vm.nuspec
  packages/dotnettojscript.vm/tools/chocolateyinstall.ps1
  packages/dotnettojscript.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#398 :robot: Add gadgettojscript.vm
  packages/gadgettojscript.vm/gadgettojscript.vm.nuspec
  packages/gadgettojscript.vm/tools/chocolateyinstall.ps1
  packages/gadgettojscript.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#400 :robot: Add sharpup.vm
  packages/sharpup.vm/sharpup.vm.nuspec
  packages/sharpup.vm/tools/chocolateyinstall.ps1
  packages/sharpup.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#402 :robot: Add spoolsample.vm
  packages/spoolsample.vm/spoolsample.vm.nuspec
  packages/spoolsample.vm/tools/chocolateyinstall.ps1
  packages/spoolsample.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#406 :robot: Add seatbelt.vm
  packages/seatbelt.vm/seatbelt.vm.nuspec
  packages/seatbelt.vm/tools/chocolateyinstall.ps1
  packages/seatbelt.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#404 :robot: Add sharpview.vm
  packages/sharpview.vm/sharpview.vm.nuspec
  packages/sharpview.vm/tools/chocolateyinstall.ps1
  packages/sharpview.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#411 :robot: Add routesixtysink.vm
  packages/routesixtysink.vm/routesixtysink.vm.nuspec
  packages/routesixtysink.vm/tools/chocolateyinstall.ps1
  packages/routesixtysink.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#408 :robot: Add sharphound.vm
  packages/sharphound.vm/sharphound.vm.nuspec
  packages/sharphound.vm/tools/chocolateyinstall.ps1
  packages/sharphound.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#413 dnspyex.vm: Fix dnSpy
  packages/dnspyex.vm/dnspyex.vm.nuspec
  packages/dnspyex.vm/tools/chocolateyinstall.ps1
  packages/dnspyex.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#424 pestudio.vm: Update to fix broken hash
  packages/pestudio.vm/pestudio.vm.nuspec
  packages/pestudio.vm/tools/chocolateyinstall.ps1
Labels: :bug: bug

#427 :robot: Add dll-to-exe.vm
  packages/dll-to-exe.vm/dll-to-exe.vm.nuspec
  packages/dll-to-exe.vm/tools/chocolateyinstall.ps1
  packages/dll-to-exe.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#428 idr.vm: Add IDR
  packages/idr.vm/idr.vm.nuspec
  packages/idr.vm/tools/chocolateyinstall.ps1
  packages/idr.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#429 Chocolatey 2: Do not used removed shims
  .github/workflows/ci.yml
  packages/common.vm/common.vm.nuspec
  packages/common.vm/tools/vm.common/vm.common.psm1
  packages/flarevm.installer.vm/flarevm.installer.vm.nuspec
  packages/flarevm.installer.vm/tools/chocolateyinstall.ps1
Labels: :bug: bug

#435 ci: Add consoleApp argument to issue template
  .github/ISSUE_TEMPLATE/new_package.yml
  scripts/utils/create_package_template.py
Labels: :gem: enhancement, :runner: CI

#347 :robot: Add net-reactor-slayer.vm
  packages/net-reactor-slayer.vm/net-reactor-slayer.vm.nuspec
  packages/net-reactor-slayer.vm/tools/chocolateyinstall.ps1
  packages/net-reactor-slayer.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#436 :robot: Add GoResym.vm
  packages/goresym.vm/goresym.vm.nuspec
  packages/goresym.vm/tools/chocolateyinstall.ps1
  packages/goresym.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#417 ida.diaphora.vm: Add diaphora
  packages/common.vm/common.vm.nuspec
  packages/common.vm/tools/vm.common/vm.common.psm1
  packages/ida.diaphora.vm/ida.diaphora.vm.nuspec
  packages/ida.diaphora.vm/tools/chocolateyinstall.ps1
  packages/ida.diaphora.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#439 ida.diaphora.vm: Fix common.vm version requirement
  packages/ida.diaphora.vm/ida.diaphora.vm.nuspec
  packages/ida.diaphora.vm/tools/chocolateyinstall.ps1
Labels: :bug: bug

#441 Add malware-jail
  packages/common.vm/common.vm.nuspec
  packages/common.vm/tools/vm.common/vm.common.psm1
  packages/malware-jail.vm/malware-jail.vm.nuspec
  packages/malware-jail.vm/tools/chocolateyinstall.ps1
  packages/malware-jail.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#443 :robot: Add sliver.vm
  packages/sliver.vm/sliver.vm.nuspec
  packages/sliver.vm/tools/chocolateyinstall.ps1
  packages/sliver.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#449 :robot: Add sharpdpapi.vm
  packages/sharpdpapi.vm/sharpdpapi.vm.nuspec
  packages/sharpdpapi.vm/tools/chocolateyinstall.ps1
  packages/sharpdpapi.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#457 :robot: Add upx.vm
  packages/upx.vm/tools/chocolateyinstall.ps1
  packages/upx.vm/tools/chocolateyuninstall.ps1
  packages/upx.vm/upx.vm.nuspec
Labels: :new: package

#465 Chocolatey Package List Bug Workaround
  packages/flarevm.installer.vm/flarevm.installer.vm.nuspec
  packages/flarevm.installer.vm/tools/chocolateyinstall.ps1
Labels: :bug: bug

#467 idr.vm: Install knowledges bases from GitHub
  packages/idr.vm/idr.vm.nuspec
  packages/idr.vm/tools/chocolateyinstall.ps1
Labels: :gem: enhancement

#464 :robot: Add bloodhound-custom-queries.vm
  packages/bloodhound-custom-queries.vm/bloodhound-custom-queries.vm.nuspec
  packages/bloodhound-custom-queries.vm/tools/chocolateyinstall.ps1
  packages/bloodhound-custom-queries.vm/tools/chocolateyuninstall.ps1
Labels: :new: package
