Repository mandiant/VM-Packages, pull requests merged in 2024-05, with the labels that each got.

#1024 Add issue template & automation for IDA plugins
  .github/ISSUE_TEMPLATE/new_IDA_plugin.yml
  .github/ISSUE_TEMPLATE/new_metapackage.yml
  .github/ISSUE_TEMPLATE/new_package.yml
  scripts/utils/create_package_template_from_json.py
Labels: :runner: CI, :cyclone: FLARE-VM, :curly_haired_woman: IDA

#1027 :robot: Add ida.plugin.comida.vm
  packages/ida.plugin.comida.vm/ida.plugin.comida.vm.nuspec
  packages/ida.plugin.comida.vm/tools/chocolateyinstall.ps1
  packages/ida.plugin.comida.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#1029 :robot: Add ida.plugin.ifl.vm
  packages/ida.plugin.ifl.vm/ida.plugin.ifl.vm.nuspec
  packages/ida.plugin.ifl.vm/tools/chocolateyinstall.ps1
  packages/ida.plugin.ifl.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#1031 :robot: Add ida.plugin.lighthouse.vm
  packages/ida.plugin.lighthouse.vm/ida.plugin.lighthouse.vm.nuspec
  packages/ida.plugin.lighthouse.vm/tools/chocolateyinstall.ps1
  packages/ida.plugin.lighthouse.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#1035 [common.vm] Fix VM-Uninstall-IDA-Plugin again
  packages/common.vm/common.vm.nuspec
  packages/common.vm/tools/vm.common/vm.common.psm1
  scripts/utils/create_package_template.py
Labels: :bug: bug, :cyclone: FLARE-VM, :curly_haired_woman: IDA

#1025 [7zip] Keep full paths in right click shortcut
  packages/7zip-15-05.vm/7zip-15-05.vm.nuspec
  packages/7zip-15-05.vm/tools/chocolateyinstall.ps1
  packages/7zip-nsis.vm/7zip-nsis.vm.nuspec
  packages/7zip-nsis.vm/tools/chocolateyinstall.ps1
Labels: :gem: enhancement

#1036 Add ida.plugin.flare.vm with shellcode_hashes_search_plugin & apply_callee_type_plugin
  packages/ida.plugin.flare.vm/ida.plugin.flare.vm.nuspec
  packages/ida.plugin.flare.vm/tools/chocolateyinstall.ps1
  packages/ida.plugin.flare.vm/tools/chocolateyuninstall.ps1
Labels: :new: package, :cyclone: FLARE-VM, :curly_haired_woman: IDA

#1042 Introduce `VM-Install-Node-Tool` and add `obfuscator-io-deobfuscator.vm`
  packages/common.vm/common.vm.nuspec
  packages/common.vm/tools/vm.common/vm.common.psm1
  packages/obfuscator-io-deobfuscator.vm/obfuscator-io-deobfuscator.vm.nuspec
  packages/obfuscator-io-deobfuscator.vm/tools/chocolateyinstall.ps1
  packages/obfuscator-io-deobfuscator.vm/tools/chocolateyuninstall.ps1
Labels: :gem: enhancement, :new: package, :cyclone: FLARE-VM

#1045 [nodejs.vm] Add git as dependency
  packages/nodejs.vm/nodejs.vm.nuspec
Labels: :new: package, :cyclone: FLARE-VM

#1049 :robot: Add js-deobfuscator.vm
  packages/js-deobfuscator.vm/js-deobfuscator.vm.nuspec
  packages/js-deobfuscator.vm/tools/chocolateyinstall.ps1
  packages/js-deobfuscator.vm/tools/chocolateyuninstall.ps1
Labels: :new: package

#1044 [renaming] Make plugin packages naming consistent
  packages/ollydbg.plugin.ollydumpex.vm/ollydbg.plugin.ollydumpex.vm.nuspec
  packages/ollydbg.plugin.ollydumpex.vm/tools/chocolateyinstall.ps1
  packages/ollydbg.plugin.ollydumpex.vm/tools/chocolateyuninstall.ps1
  packages/ollydbg.plugin.scyllahide.vm/ollydbg.plugin.scyllahide.vm.nuspec
  packages/ollydbg.plugin.scyllahide.vm/tools/chocolateyinstall.ps1
  packages/ollydbg.plugin.scyllahide.vm/tools/chocolateyuninstall.ps1
  packages/ollydbg2.plugin.ollydumpex.vm/ollydbg2.plugin.ollydumpex.vm.nuspec
  packages/ollydbg2.plugin.ollydumpex.vm/tools/chocolateyinstall.ps1
  packages/ollydbg2.plugin.ollydumpex.vm/tools/chocolateyuninstall.ps1
  packages/ollydbg2.plugin.scyllahide.vm/ollydbg2.plugin.scyllahide.vm.nuspec
  packages/ollydbg2.plugin.scyllahide.vm/tools/chocolateyinstall.ps1
  packages/ollydbg2.plugin.scyllahide.vm/tools/chocolateyuninstall.ps1
  packages/x64dbg.plugin.dbgchild.vm/tools/chocolateyinstall.ps1
  packages/x64dbg.plugin.dbgchild.vm/tools/chocolateyuninstall.ps1
  packages/x64dbg.plugin.dbgchild.vm/x64dbg.plugin.dbgchild.vm.nuspec
  packages/x64dbg.plugin.ollydumpex.vm/tools/chocolateyinstall.ps1
  packages/x64dbg.plugin.ollydumpex.vm/tools/chocolateyuninstall.ps1
  packages/x64dbg.plugin.ollydumpex.vm/x64dbg.plugin.ollydumpex.vm.nuspec
  packages/x64dbg.plugin.scyllahide.vm/tools/chocolateyinstall.ps1
  packages/x64dbg.plugin.scyllahide.vm/tools/chocolateyuninstall.ps1
  packages/x64dbg.plugin.scyllahide.vm/x64dbg.plugin.scyllahide.vm.nuspec
  packages/x64dbg.plugin.x64dbgpy.vm/tools/chocolateyinstall.ps1
  packages/x64dbg.plugin.x64dbgpy.vm/tools/chocolateyuninstall.ps1
  packages/x64dbg.plugin.x64dbgpy.vm/x64dbg.plugin.x64dbgpy.vm.nuspec
Labels: :gem: enhancement

#1051 [vscode] Fix metapackage version missmatch
  packages/vscode.vm/vscode.vm.nuspec
Labels: :bug: bug

#1041 Improve test_install script
  scripts/test/test_install.ps1
Labels: :gem: enhancement
