Repository mandiant/VM-Packages, pull requests merged in 2025-06, with the labels that each got.

#1422 Update ida_launcher to work with IDA Free 9+
  ida_launcher/ida_launcher.exe
  ida_launcher/src/ida_launcher.c
Labels: :cyclone: FLARE-VM, :curly_haired_woman: IDA

#1409 Add try-catch block to ida.plugin.diaphora.vm
  packages/ida.plugin.diaphora.vm/ida.plugin.diaphora.vm.nuspec
  packages/ida.plugin.diaphora.vm/tools/chocolateyinstall.ps1
Labels: :gem: enhancement, :cyclone: FLARE-VM, :curly_haired_woman: IDA

#1419 Fix debloat.vm path issue (#1392)
  packages/debloat.vm/debloat.vm.nuspec
  packages/debloat.vm/tools/chocolateyinstall.ps1
  packages/debloat.vm/tools/start/start2.bin
Labels: :bug: bug
